@charset "ISO-8859-1";

.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error {
	color: red;
}

.navbar-brand:hover {
	color: #4A7C59 !important;
}


.nav-link:hover {
	    color: #4A7C59 !important;
	}
	.dropdown-item:hover {
		color: #4A7C59 !important;
	}

    .btn-primary{
    border-radius:40px;
    padding: 8px 30px;
    border: none;
    color:white !important;
    cursor:pointer;
    box-shadow: inset 0 0 0 2px #4A7C59!important;
    margin-right:10px;
    background-color: #4A7C59 !important;
    }
    
    .btn-primary:hover{
    border: none;
    background-color: #2E5A3E !important;
    color: white !important;
    }
        
    .btn-tertiary{
    border-radius:80px;
    padding: 10px 20px;
    border: none;
    color: #4A7C59 !important;
    cursor:pointer;
    box-shadow: inset 0 0 0 2px #4A7C59!important;
    margin-right:10px;
    background-color: #0000 !important;
    display: inline-flex !important; /* Ensures button content is aligned */
    align-items: center !important;
    justify-content: center !important;
    white-space: nowrap !important; /* Prevents text from breaking into two lines */
    text-decoration: none !important;
    
    }
    
    .btn-tertiary:hover{
    border: none;
    background-color: #2E5A3E !important;
    color: white !important;
    }
    
    .btn-secondary{
    border:none;
    border-radius: 40px;
    padding: 8px 20px;
    box-shadow:inset 0 0 0 2px #6c747e;
    cursor:pointer;
    }
    .btn-secondary:hover{
    border:none;
    color:white !important;
    background-color: #6c747e;
    }

    
    
  .list-group-item.active {
    background-color: #4A7C59 !important;
    border-color: #4A7C59 !important;
    color: white !important;
}
    